# Required secrets
DISCORD_BOT_TOKEN=
MONGO_URL=

# Discord and application settings
GUILD_ID=
STAFF_ROLE_ID=
BOT_PREFIX=!
SERVER_NAME=Your Rust Server
EMBED_HEX_COLOR=#5865F2
MONGO_DATABASE=rust_wipes
